/* start general */
body {
  font-family: "Roboto", sans-serif;
}
/* end general */
/* start nav */
nav {
  height: 80px;
  border-top: 3px solid #ff9900;
}
nav img {
  height: 25px;
}
nav h1 {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
}
nav h1 span {
  color: #ff9900;
}
/* end nav */
/* start hero */
.hero {
  background: linear-gradient(to top, #1344a4, #011054);
  min-height: 80vh;
}
.hero img {
  height: 60vh;
  width: auto;
  margin-top: 10vh;
  max-width: 100%;
  object-fit: contain;
}
.hero h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 45px;
  letter-spacing: 1.5px;
  width: 90%;
  line-height: 1.5;
  font-weight: 500;
}
.hero h2 span {
  color: #ff9900;
  margin-right: 10px;
}
/* end hero */
/* Start Blogs */
.blogs {
  padding: 50px 0;
}
.blogs h3 {
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
  text-align: center;
  display: block;
  text-transform: uppercase;
}
.blogs h3:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 70px;
  height: 2px;
  background: #ff9900;
  transform: translateX(-50%);
}
.blogs ul {
  padding: 0;
  display: flex;
  text-align: center;
  justify-content: center;
}
.blogs li {
  list-style: none;
  display: inline;
  margin: 10px 7px;
  text-align: center;
  font-size: 16px;
  color: #555;
  cursor: pointer;
}
.blogs li.active {
  font-weight: 600;
}
.card {
  margin-top: 30px;
}
/* end Blogs */
/* start footer */
footer {
  text-align: center;
  padding: 20px;
  letter-spacing: 1.5px;
  color: #fff;
  background-color: #011054;
  margin-top: 50px;
  border-top: 3px solid #ff9900;
}
/* end footer */
/* responsive */
@media screen and (max-width: 992px) {
  .hero img {
    display: none;
  }
  .rt {
    padding-top: 30vh;
    text-align: center;
  }
  .row {
    margin: 0;
  }
}
